body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h2 {
    background-color: #333;
    color: #f4f4f4;
    padding: 10px;
    margin-top: 0;
}

form, button {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, select, textarea, button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
}

button:hover {
    background-color: #0056b3;
}

div {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow-x: auto;
}


.card {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin-top: 0;
    color: #007BFF;
}

.card p {
    margin: 10px 0;
}

.review-card {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.like-button {
    padding: 5px 10px;
    font-size: 14px;
    margin-top: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.like-button:hover {
    background-color: #6ea6e3;
}

.like-count {
    font-weight: bold;
    color: #333;
}

.card {
    position: relative;
    padding-bottom: 5px; /* Make space for the like button */
}

.card .like-section {
    position: absolute;
    bottom: 10px;
    margin: 0;
}